.project-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    .project-showcase__title {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        background: linear-gradient(45deg, #2F2F2F, #4F4F4F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .project-showcase__grid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0 2rem;
    }
}