@import '../../styles/variables';

.main-layout {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--background-primary), rgb(161, 154, 135));
}


.section {
    min-height: 100vh;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    // Add decorative elements
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(90deg,
                transparent 0%,
                rgba(0, 0, 0, 0.1) 50%,
                transparent 100%);
    }

}

// Smooth scrolling for the entire page
html {
    scroll-behavior: smooth;
}

// Custom scrollbar
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;

    &:hover {
        background: #999;
    }
}

